@inject ChatMessageRepository ChatMessageRepository

<form class="new-message-form">
    <div class="row">
        <div class="col-md-9">
            <input type="text" class="form-control" placeholder="Enter your message here..." @bind="newMessage" />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block" @onclick="AddChatMessageAsync">Send</button>
        </div>
    </div>
</form>

@code {
    private string newMessage = null;

    private async Task AddChatMessageAsync(MouseEventArgs e)
    {
        await ChatMessageRepository.AddChatMessageAsync(new ChatMessage
        {
            Time = DateTime.Now,
            From = "Blazor",
            Text = newMessage
        });
        newMessage = null;
    }
}