<form class="new-message-form">
  <div class="row">
    <div class="col-md-9">
      <input type="text" id="newChatMessage" class="form-control" placeholder="Enter your message here..." bind="@_newMessage" />
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block" onclick="@AddChatMessageAsync">Send</button>
    </div>
  </div>
</form>

@functions {
    string _newMessage = null;

    private async Task AddChatMessageAsync()
    {
        await ChatMessageRepository.AddChatMessageAsync(new ChatMessage { Time = DateTime.Now, From = "Blazor", Text = _newMessage });
        _newMessage = null;
    }
}